[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group plugins-checks-jenkins
	read = group Anonymous Users
[access "refs/for/refs/meta/config"]
	push = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Verified = -1..+1 group Change Owner
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group gerrit-trusted-contributors
	removeReviewer = group google/gerritcodereview-maintainers@googlegroups.com
	submit = group Change Owner
	submit = group Project Owners
[access "refs/for/*"]
	addPatchSet = group gerrit-trusted-contributors
	addPatchSet = group google/gerritcodereview-maintainers@googlegroups.com
	addPatchSet = block group Anonymous Users
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	pushMerge = group Registered Users
	viewPrivateChanges = group gerrit-ci
[access "refs/meta/config"]
	label-Code-Review = -2..+2 group Project Owners
	submit = group Project Owners
